.row
{
    position: relative;
    display: block;
    width: 100%;
    padding: 5px;
    margin-top: 3px;
    background-color: rgb(231, 231, 231);
    color: #5e5e5e;
    line-height: 20px;
}


.img
{
    display: inline-block;
}

.img img
{
    border-radius: 50%;
    border: 5px solid white;
    display: inline-block;
    margin: 0px;
}

.info
{
    display: inline-block;
    position: absolute;
    top: 20%;
    left: 100px;
}

.location
{
    display: inline-block;
    position: absolute;
    top: 20%;
    left: 400px;
}

.id
{
    display: inline-block;
    position: absolute;
    top: 20%;
    left: 700px;
}